.contaier{
  display: flex;
  justify-content: center;
  align-items: center;
}

.tyrantrum {
  position: absolute;
  width: 100%;
  height: 1080px;
  top: 0px;
  background: url(../assets/bg.png);
}

.logo {
  width: 175px;
  height: 200px;
  position: absolute;
  top: 50px;
  left: 75px;
}

.headline {
  h1 {
    position: absolute;
    left: 180px;
    top: 180px;
    font-family: "Jost", sans-serif;
    font-weight: bold;
    font-size: 170px;
    color: #f8f8f8;
  }
  span {
    position: absolute;
    left: 187px;
    top: 500px;

    font-family: "Jost", sans-serif;
    font-size: 55px;
    color: #f8f8f8;
  }
}

.btn-acess {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  border-radius: 15px;
  border: 5px solid #000;
  outline: 5px solid #e4e00f;
  background: #f8f8f8;
  color: #000;
  font-weight: bold;
  position: absolute;
  top: 50px;
  right: 15px;
}
